---
# build output
dist/
.astro/

# dependencies
node_modules/
chef_galaxy_workspace/
BriteLines/
tasq/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.production

# macOS
.DS_Store
