<footer class="footer">
    <div class="footer-content">
        <div class="footer-about">
            <div class="footer-about__box">
                <h3 class="heading-2 mb-sm">Waseem's life so far...</h3>
                <ul class="footer-about__list">
                    <li class="footer-about__item">Started studying CS in 2008</li>
                    <li class="footer-about__item">Got Bachelors in 2012</li>
                    <li class="footer-about__item">Got married in 2019</li>
                    <li class="footer-about__item">Have two sons now</li>
                </ul>
            </div>
            <div class="footer-about__box">
                <h3 class="heading-2 mb-sm">He is excited by...</h3>
                <ul class="footer-about__list">
                    <li class="footer-about__item">Movies</li>
                    <li class="footer-about__item">Parrots</li>
                    <li class="footer-about__item">Coding</li>
                    <li class="footer-about__item">Food</li>
                </ul>
            </div>
            <div class="footer-about__box">
                <h3 class="heading-2 mb-sm">He is thinking about...</h3>
                <ul class="footer-about__list">
                    <li class="footer-about__item">Python/Javascript</li>
                    <li class="footer-about__item">AWS</li>
                    <li class="footer-about__item">Testing</li>
                </ul>
            </div>
        </div>

        <div class="social-links">
            <ul class="social-links__list">
                <li class="social-links__item">
                    <a href="mailto:{{ site.email }}" title="Email me" class="social-links__link">
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="social-links__icon fas fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>Email me</span>
                    </a>
                </li>

                <li class="social-links__item">
                    <a href="https://linkedin.com/in/{{ site.linked_username }}" title="LinkedIn" class="social-links__link">
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="social-links__icon fab fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>LinkedIn</span>
                    </a>
                </li>

                <li class="social-links__item">
                    <a href="https://github.com/{{ site.github_username }}" title="GitHub" class="social-links__link">
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="social-links__icon fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>GitHub</span>
                    </a>
                </li>

                <li class="social-links__item">
                    <a href="https://stackoverflow.com/users/{{ site.stackoverflow_username }}" title="StackOverflow" class="social-links__link">
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="social-links__icon fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>StackOverflow</span>
                    </a>
                </li>

                <li class="social-links__item">
                    <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" class="social-links__link">
                        <span class="fa-stack fa-lg" aria-hidden="true">
                            <i class="social-links__icon fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        <span>Twitter</span>
                    </a>
                </li>

              </ul>
        </div>
    </div>
</footer>
