

<header class="header">
    <a href="{{ '' | absolute_url }}" class="header__link">{{ site.title }}</a>

    <img alt="Syed Waseem Jan" src="/assets/img/avatar-icon.png" class="header__avatar"/>

    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item"><a href="/" class="main-nav__link">About</a></li>
            <li class="main-nav__item"><a href="/books/" class="main-nav__link">Books</a></li>
            <li class="main-nav__item"><a href="/projects/" class="main-nav__link">Projects</a></li>
            <li class="main-nav__item"><a href="/assets/waseem-resume.pdf" class="main-nav__link">Resume</a></li>
        </ul>
    </nav>
</header>