{% include reading-time-calculator.html post=post.content %}
<div class="post-item">
    <a class="heading-2 heading-2--skew mb-sm" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

    <p class="post-item__content">
        {{ post.excerpt }}
    </p>

    <div class="post-item__meta">
        {{ post.date | date: "%B %-d, %Y" }}{% if post.meta %} • {{ post.meta }}{% endif %}
        | {{ reading_time }}
        <div class="post-item__categories">
            {% for category in post.categories %}
                <a href="/tags/{{ category }}" class="tag"># {{ category }}</a>
            {% endfor %}
        </div>
    </div>
</div>