*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

.container {
    min-height: 62rem;
    max-width: 114rem;
    margin: 0 auto;
    margin-top: 11rem;
    padding: 3rem;
}

::selection {
    background-color: $color-primary-light;
    color: $color-white;
}