.post {

    @media only screen and (min-width: 56.25em) {
        width: 80rem;
        margin: 0 auto;
    }

    &__meta {
        font-size: 1.5rem;
        color: $color-grey-dark-2;

        & > :not(:last-child):after {
            content: "";
            border-right: 1px solid #ddd;
            margin: 0 .8rem 0 1rem;
        }
    }

    &__content {
        color: $color-grey-dark-1;
        margin: 4rem 0;
        font-size: 1.6rem;

        p {
            margin: 2rem 0;
        }

        div.highlight {
            background-color: $color-white;
        }

        pre.highlight {
            border: 1px solid #ddd;
            padding: .8rem 1.2rem;
            -webkit-border-radius: .3rem;
            -moz-border-radius: .3rem;
            border-radius: .3rem;
            font-size: 1.5rem;
            overflow-y: hidden;
            overflow-x: scroll;
        }

        img {
            width: 100%;
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 1.5rem;
            margin: 4rem 0 2rem;
        }

        h2 {
            font-size: 2.6rem;
        }

        h3 {
            font-size: 2.2rem;
        }

        h4 {
            font-size: 1.9rem;
        }

        p {
            line-height: 1.8;
        }

        blockquote {
            border-left: .4rem solid $color-grey-light-2;
            padding-left: 2rem;
            font-size: 1.6rem;
            opacity: .6;
            font-style: italic;
            margin: 3rem 0;
        }

        ul,
        ol { padding-left: 4rem; }

        img {
            max-width: 100%;
        }
    }

    pre,
    code {
        border: $line;
        background-color: $color-grey-light-1;
        padding: .8rem 1.2rem;
        -webkit-border-radius: .3rem;
        -moz-border-radius: .3rem;
        border-radius: .3rem;
        font-size: 1.5rem;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .highlight pre,
    .highlight code {
        white-space: pre;
        overflow: auto;
        word-wrap: normal;
    }

    code { padding: 0; }

    ul,
    ol { margin-left: 1.35rem; }

    pre code { border: none; }

    .post-image-small {
        max-width: 50%;
    }

    .anchor,
    .anchor:visited,
    .anchor:hover,
    .anchor:active {
        font-size: .7rem;
        color: $color-grey-light-3;
        vertical-align: middle;
    }

    pre.terminal {
        border: 1px solid $color-black;
        background-color: $color-grey-dark-1;
        color: $color-white;
        border-radius: .3rem;
    }

    pre.terminal code { background-color: $color-grey-dark-1; }
}
