.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.15s;
    }

    &:hover {
        color: $color-primary-dark;
    }
}
