.header {
    height: 8rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-image: linear-gradient(to right,
        rgba($color-primary-light, .85), 
        rgba($color-primary-dark, .85));
    border-bottom: $line;
    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-land) {
        position: static;
    }

    @include respond(tab-port) {
        flex-direction: column;
        height: auto;
        row-gap: 1rem;
    }

    &__link {
        font-size: 3rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 400;
        letter-spacing: 1.75rem;
        text-align: center;
    }

    &__avatar {
        width: 10rem;
        border-radius: 50%;
        box-shadow: $shadow-light;
        transform: translateY(2rem);

        @include respond(tab-port) {
            transform: translateY(0);
        }
    }
}

.main-nav {
    align-self: stretch;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        list-style: none;
    }

    &__link:link,
    &__link:visited {
        cursor: pointer;
        padding: 0 2rem;
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-white;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            background-color: $color-primary-dark;
        }

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }
}