body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.8;
    color: $color-grey-dark-1;
}

%heading {
    display: inline-block;
    font-family: $font-display;
    font-weight: 400;
    line-height: 1.2;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;

    &--white {
        color: $color-grey-light-1;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 2.4rem;
    transition: all .2s;

    &--dark {
        color: $color-grey-dark-1;
    }

    &--skew:link,
    &--skew:visited {
        &:hover {
            transform: skewY(0.1deg) skewX(15deg) scale(1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
}